.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #005EB8;
	transition: 0.7s all linear;
	height: 100%;
}

.hidden {
	display: none;
}

.large-text {
	height: 50px;
	word-wrap: break-word;
}

.headerButton {
	border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: 24px;
}

#resultList {
  list-style: none;
  padding: 0;
  margin: 0;
}
